<section>
  <div class="form-box">
    <div class="form-value">
      <form action="">
        <h2>INICIAR SESIÓN</h2>
        <div class="inputbox">
          <span class="material-icons md-light">
            person
            </span>
          <input type="text" required>
          <label for="">Usuario</label>
        </div>

        <div class="inputbox">
          <span class="material-symbols-outlined">
            vpn_key
          </span>
          <input type="password" required>
          <label for="">Password</label>
        </div>
        <!-- <div class="forget">
          <label for="">
            <input type="checkbox"> Recordar La <a href="#">Contrasena</a>
          </label>
        </div> -->

        <button>INGRESAR</button>

        <div class="register">
          <p>No tengo Una Cuenta<a routerLink="/auth/new-account"> Registrate</a></p>
        </div>

      </form>
    </div>
  </div>

</section>
